<div class="search-from mt-4">
    <form method="POST">
        <div class="form-group">
            <label for="search-input">Tìm từ khóa: </label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa ...">

            <select  name="gender" class="form-control mt-2">
                <option value="Nam">Nam</option>
                <option value="Nu">Nữ</option>
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>